  <section class="ui sizer vertial segment basic">
      <h1 class="ui massive center aligned icon header">
        <i class="unlock alternate icon"></i>
        <div class="content">
          Log in to continue
          <div class="sub header">Or create new account to join the community</div>
        </div>
      </h1>
  </section>

<div class="ui secondary segment stackable raised padded">

  <div class="ui two column very relaxed stackable grid">

    <div class="row middle aligned">

      <div class="one wide column"></div>

      <div class="six wide column">
        <%= render "login_form" %>
      </div>

      <div class="only-mobile column ui horizontal divider">
        Or
      </div>

      <div class="six wide column right floated center aligned">
        <%= link_to raw("<i class=\"sign-in icon\"></i>Sign up"), sign_up_path, class: "ui button massive basic" %>
      </div>

      <div class="one wide column"></div>

    </div>

  </div>

  <div class="only-desktop ui vertical divider">Or</div>

</div>
