<div class="ui raised padded blue secondary small segment container">
  <div class="ui segment small container minimal comments">

    <% @messages.each do |message|  %>
      <%= render "chatroom/messages/my_message", message: message %>
      <%= render "chatroom/messages/message", message: message %>
    <% end %>

  </div>

  <form class="ui form">
    <div class="field">
      <textarea rows="3" placeholder="Enter a message..."></textarea>
      <div class="ui bottom attached compact blue labeled submit icon button">
        <i class="icon edit"></i> Send
      </div>
    </div>
  </form>
</div>
