<div class="ui fluid placeholder" id="messages-placeholder">
  <% for i in 0..4 do %>
    <div class="image header">
      <div class="line"></div>
      <div class="line"></div>
    </div>
  <% end %>
</div>
