  <div class="comment ui segment right floated basic"> <!-- right floated for user messages -->
    <a class="avatar">
      <%= random_avatar_for_user("You") %>
    </a>
    <div class="content">
      <a class="author">You</a>
      <div class="metadata">
        <span class="date">Today at 5:43PM</span>
      </div>
      <div class="text">
        Zjemy po drodze :)
      </div>
    </div>
  </div>
