<main>
    <h1 class="ui massive center aligned icon header">
      <i class="paper plane outline icon"></i>
      <div class="content">
        Chatroom
        <div class="sub header">Contact with your friends and enjoy your time.</div>
      </div>
    </h1>
  <section class="ui centered stackable padded grid">
    <div class="ten wide column">
      <%= render "chat" %>
    </div>
    <div class="one wide column">
    </div>
    <div class="four wide column">
      <%= render "user_list" %>
    </div>
  </section>
</main>


