<main>
  <section class="ui container center aligned">
    <h1 class="ui icon header">
      <i class="paper plane outline icon"></i>
      <div class="content">
        Chatroom
        <div class="sub header">Contact with your friends and enjoy your time.</div>
      </div>
    </h2>
  </section>

  <section class="ui centered padded grid container">
    <div class="twelve wide column">
      <%= render "chat" %>
    </div>
    <div class="four wide column">
      <%= render "user_list" %>
    </div>
  </section>
</main>


