<section class="ui padded segment basic">
  <% if @user.errors.any? %>
    <div class="ui error floating tiny message">
      <i class="close icon"></i>
      <div class="header">
        There were some errors with account creation
      </div>
      <ul class="list">
          <% @user.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
      </ul>
    </div>
  <% end %>
</section>

<main class="ui grid centered">
  <div class="twelve wide column">

    <div class="ui top attached center aligned header">
      <h1 class="ui header">
      Create new account
      </h1>
      <h2 class="ui sub header">
      Join the community
      </h2>
    </div>

    <section class="ui fluid attached huge segment padded secondary">
      <%= render "sign_up_form" %>
    </section>

    <div class="ui bottom attached warning message">
      <i class="icon help"></i>
      Already signed up? <%= link_to "Login here", login_path%>
    </div>

  </div>
</main>

