<nav class="ui borderless inverted huge menu">
  <div class="ui container">
    <%= link_to "Chatroom", root_path, class: "item" %>
    <%= link_to "Messages", root_path, class: "item" %>

    <div class="right menu">

      <div class="item">
        <div class="ui primary buttons">
          <%= link_to raw("<i class=\"alternative sign in icon\"></i>Log in"), login_path, class: "ui primary button" %>
        </div>
      </div>

      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">todo</a>
          <a class="item">todo</a>
          <a class="item">todo</a>
        </div>
      </div>

    </div>

  </div>
</nav>
