<div class="ui segment small basic clearing"> <!-- clearing for my messages -->
  <div class="comment ui segment right floated basic"> <!-- right floated for my messages -->
    <a class="avatar">
      <%= get_avatar_for_username("#{message.user.username}") %>
    </a>
    <div class="content">
      <a class="author">
        <%= message.user.username %>
      </a>
      <div class="metadata">
        <span class="date">
          <%= message.created_at %>
        </span>
      </div>
      <div class="text">
        <%= message.body %>
      </div>
    </div>
  </div>
</div>
